h1 {
    color: #cceffc;
    font-family: Arial, Helvetica, sans-serif;
}
h2 {
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    color: #fef9fa;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-image: url(images/background.png);
}